/* Universal Selector */
* {
    background-color: beige;
    color: blue;
}

/* Element Selector */
h1 {
    color: maroon;
}

/* Class Selector */
.class-selector {
    color: #ae5e6b;
}

/* ID Attribute */
#id-selector {
    color: brown;
}

/* Attribute Selector */
/* Targetting any element that has an [href] attribute */
[href] {
    color: orange;
}

/* Targetting an <p> with an [href] attribute */
p[href] {
    color: green;
}

/* Targetting elements with an [href] attribute that is exactly 'www.example1.com' */
[href = 'www.example1.com'] {
    color: magenta;
} 

a[href = 'www.example1.com'] {
    color: magenta;
} 

/* Grouping Selector */
/* h2, h3, h4 {
    font-size: 10px;
} */

h2, #grp-selector1, .grp-selector2 {
    font-size: 10px;
    background-color: mistyrose;
}

/* Pseudo-class */
.pseudo-class:hover {
    background-color: navy;
    color: yellow;
}

.pseudo-class1:visited{
    background-color: gray;
}

/* Pseudo-element */
.pseudo-element::before{
    content: "Placed before - ";
    color: gray;
}

.pseudo-element::after {
    content: " - Placed after. ";
}

.pseudo-element::first-letter {
    color: red;
}

h3 {
    background-color: cyan !important;
}

